[submodule "Underanalyzer"]
	path = Underanalyzer
	url = https://github.com/UnderminersTeam/Underanalyzer.git
[submodule "UndertaleModTool/Scripts/Eliandro Scripts"]
	path = UndertaleModTool/Scripts/Eliandro Scripts
	url = https://github.com/Eliandro4/EliandroScriptsUMT.git
[submodule "UndertaleModTool/Scripts/Decompiling Scripts"]
	path = UndertaleModTool/Scripts/Decompiling Scripts
	url = https://github.com/Eliandro4/GameMaker-Decompiler.git
